.user-nav-bar-small__wrapper {
  background-color: #403042;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 5px 10px;
}

.user-nav-bar-small__brand-wrapper {
  width: 150px;
  min-width: 150px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.user-nav-bar-small__shopping-cart-wrapper {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.user-nav-bar-small__cart-icon-wrapper {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media (min-width: 1200px) {
  .user-nav-bar-small__wrapper {
    display: none;
  }
}