.header__wrapper {
  background-color: #403042;
  display: flex;
  column-gap: 10px;
  padding: 15px 15px;
  align-items: center;
}

.header__brand-wrapper {
  display: none;
}

.header__search-btn-wrapper {
  display: none;
}

.header__btn-wrapper {
  min-width: 180px;
}

@media (min-width: 1200px) {
  .header__brand-wrapper {
    display: block;
    width: 150px;
    min-width: 150px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .header__search-btn-wrapper {
    display: block;
  }
}