.carousel__wrapper {
  overflow-x: hidden;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel__controls__wrapper {
  position: absolute;
  z-index: 1;
  background-color: rgba(255,255,255,0.8);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  top: 0;
  bottom: 0;
}

.carousel__controls__prev__btn {
  visibility: hidden;
}

.carousel__controls__next__btn {
  right: 0;
}

.carousel__controls__img {
  position: relative;
  top: 50%;
  text-align: center;
  color: #333;
}

.carousel__book-card {
  display: flex;
  column-gap: 10px;
}